In [12]:
import pandas as pd

In [13]:
data = pd.read_excel('pwt.xlsx', sheet_name ='Data')

In [14]:
# deleting the countrycode column
data.drop(columns=['countrycode'], inplace = True)
data

,country,currency_unit,year,rgdpe,rgdpo,pop,emp,avh,hc,ccon,...,csh_x,csh_m,csh_r,pl_c,pl_i,pl_g,pl_x,pl_m,pl_n,pl_k
0,Aruba,Aruban Guilder,1950,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Aruba,Aruban Guilder,1951,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Aruba,Aruban Guilder,1952,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Aruba,Aruban Guilder,1953,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Aruba,Aruban Guilder,1954,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12371,Zimbabwe,US Dollar,2013,28086.937500,28329.810547,15.054506,7.914061,NaN,2.504635,30320.339844,...,0.169638,-0.426188,0.090225,0.577488,0.582022,0.448409,0.723247,0.632360,0.383488,0.704313
12372,Zimbabwe,US Dollar,2014,29217.554688,29355.759766,15.411675,8.222112,NaN,2.550258,30839.228516,...,0.141791,-0.340442,0.051500,0.600760,0.557172,0.392895,0.724510,0.628352,0.349735,0.704991
12373,Zimbabwe,US Dollar,2015,30091.923828,29150.750000,15.777451,8.530669,NaN,2.584653,33771.644531,...,0.137558,-0.354298,-0.023353,0.622927,0.580814,0.343926,0.654940,0.564430,0.348472,0.713156
12374,Zimbabwe,US Dollar,2016,30974.292969,29420.449219,16.150362,8.839398,NaN,2.616257,32208.060547,...,0.141248,-0.310446,0.003050,0.640176,0.599462,0.337853,0.657060,0.550084,0.346553,0.718671
12375,Zimbabwe,US Dollar,2017,32693.474609,30940.816406,16.529903,9.181251,NaN,2.648248,32706.603516,...,0.141799,-0.299539,0.019133,0.647136,0.726222,0.340680,0.645338,0.539529,0.412392,0.755215

In [15]:
# delete years from 1950 to 1999
indecies = (data[ data['year']<= 1999].index)
data.drop(indecies, inplace = True)

In [16]:
data

,country,currency_unit,year,rgdpe,rgdpo,pop,emp,avh,hc,ccon,...,csh_x,csh_m,csh_r,pl_c,pl_i,pl_g,pl_x,pl_m,pl_n,pl_k
50,Aruba,Aruban Guilder,2000,4000.837891,3892.323486,0.090853,0.041918,NaN,NaN,2404.632324,...,0.717052,-0.593407,0.000000e+00,0.539768,0.345983,0.581169,0.449972,0.516691,0.386524,0.610976
51,Aruba,Aruban Guilder,2001,3934.596191,4312.863281,0.092898,0.043504,NaN,NaN,2521.173828,...,0.743279,-0.557554,0.000000e+00,0.557053,0.350405,0.585888,0.388172,0.503131,0.368714,0.617400
52,Aruba,Aruban Guilder,2002,3882.553223,3251.352051,0.094992,0.045143,NaN,NaN,2582.056641,...,0.628226,-0.733186,0.000000e+00,0.576893,0.357075,0.596152,0.548045,0.501886,0.377259,0.563130
53,Aruba,Aruban Guilder,2003,3927.752930,3331.433838,0.097017,0.046776,NaN,NaN,2656.968750,...,0.583819,-0.711968,-7.965426e-07,0.599728,0.376096,0.592696,0.583162,0.536905,0.376214,0.525948
54,Aruba,Aruban Guilder,2004,4201.696777,3727.604004,0.098737,0.048289,NaN,NaN,2726.413086,...,0.618453,-0.671059,-2.507139e-06,0.620703,0.395913,0.589059,0.567820,0.551389,0.379133,0.520013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12371,Zimbabwe,US Dollar,2013,28086.937500,28329.810547,15.054506,7.914061,NaN,2.504635,30320.339844,...,0.169638,-0.426188,9.022485e-02,0.577488,0.582022,0.448409,0.723247,0.632360,0.383488,0.704313
12372,Zimbabwe,US Dollar,2014,29217.554688,29355.759766,15.411675,8.222112,NaN,2.550258,30839.228516,...,0.141791,-0.340442,5.149958e-02,0.600760,0.557172,0.392895,0.724510,0.628352,0.349735,0.704991
12373,Zimbabwe,US Dollar,2015,30091.923828,29150.750000,15.777451,8.530669,NaN,2.584653,33771.644531,...,0.137558,-0.354298,-2.335280e-02,0.622927,0.580814,0.343926,0.654940,0.564430,0.348472,0.713156
12374,Zimbabwe,US Dollar,2016,30974.292969,29420.449219,16.150362,8.839398,NaN,2.616257,32208.060547,...,0.141248,-0.310446,3.050449e-03,0.640176,0.599462,0.337853,0.657060,0.550084,0.346553,0.718671
12375,Zimbabwe,US Dollar,2017,32693.474609,30940.816406,16.529903,9.181251,NaN,2.648248,32706.603516,...,0.141799,-0.299539,1.913285e-02,0.647136,0.726222,0.340680,0.645338,0.539529,0.412392,0.755215

In [17]:
# deleting rows with 4 or more NaN
num_of_nan = data.isnull().sum(axis=1)
index_of_nan = num_of_nan.index

for i in index_of_nan:
#     print(i)
    if num_of_nan[i]>=4:
        data.drop([i], inplace = True)
        
data

,country,currency_unit,year,rgdpe,rgdpo,pop,emp,avh,hc,ccon,...,csh_x,csh_m,csh_r,pl_c,pl_i,pl_g,pl_x,pl_m,pl_n,pl_k
118,Angola,Kwanza,2000,37389.585938,32316.541016,16.440924,7.207795,NaN,1.296941,18216.638672,...,0.591017,-0.083334,-0.401753,0.495396,0.108307,0.491560,0.391757,0.493560,0.111272,0.142730
119,Angola,Kwanza,2001,37317.371094,34724.882812,16.983267,7.466684,NaN,1.308486,24569.136719,...,0.441214,-0.179747,-0.252999,0.356054,0.130012,0.569243,0.383245,0.480760,0.133653,0.137680
120,Angola,Kwanza,2002,42393.367188,39094.167969,17.572649,7.729256,NaN,1.320135,25196.832031,...,0.448450,-0.143975,-0.197427,0.381241,0.347543,0.341833,0.378768,0.477233,0.356277,0.259471
121,Angola,Kwanza,2003,44311.054688,42965.863281,18.203369,8.002745,NaN,1.331887,27231.574219,...,0.454875,-0.183415,-0.185301,0.426085,0.360541,0.419723,0.406862,0.520493,0.354217,0.248303
122,Angola,Kwanza,2004,52615.542969,51902.343750,18.865717,8.254398,NaN,1.343743,28367.738281,...,0.499373,-0.214477,-0.091360,0.526507,0.417165,0.345618,0.419821,0.546052,0.394903,0.273516
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12371,Zimbabwe,US Dollar,2013,28086.937500,28329.810547,15.054506,7.914061,NaN,2.504635,30320.339844,...,0.169638,-0.426188,0.090225,0.577488,0.582022,0.448409,0.723247,0.632360,0.383488,0.704313
12372,Zimbabwe,US Dollar,2014,29217.554688,29355.759766,15.411675,8.222112,NaN,2.550258,30839.228516,...,0.141791,-0.340442,0.051500,0.600760,0.557172,0.392895,0.724510,0.628352,0.349735,0.704991
12373,Zimbabwe,US Dollar,2015,30091.923828,29150.750000,15.777451,8.530669,NaN,2.584653,33771.644531,...,0.137558,-0.354298,-0.023353,0.622927,0.580814,0.343926,0.654940,0.564430,0.348472,0.713156
12374,Zimbabwe,US Dollar,2016,30974.292969,29420.449219,16.150362,8.839398,NaN,2.616257,32208.060547,...,0.141248,-0.310446,0.003050,0.640176,0.599462,0.337853,0.657060,0.550084,0.346553,0.718671
12375,Zimbabwe,US Dollar,2017,32693.474609,30940.816406,16.529903,9.181251,NaN,2.648248,32706.603516,...,0.141799,-0.299539,0.019133,0.647136,0.726222,0.340680,0.645338,0.539529,0.412392,0.755215

In [18]:
# setting the country and year columns as multiIndex
data.set_index(['country', 'year'])

              currency_unit         rgdpe         rgdpo        pop       emp  \
country  year
Angola   2000        Kwanza  37389.585938  32316.541016  16.440924  7.207795
         2001        Kwanza  37317.371094  34724.882812  16.983267  7.466684
         2002        Kwanza  42393.367188  39094.167969  17.572649  7.729256
         2003        Kwanza  44311.054688  42965.863281  18.203369  8.002745
         2004        Kwanza  52615.542969  51902.343750  18.865717  8.254398
...                     ...           ...           ...        ...       ...
Zimbabwe 2013     US Dollar  28086.937500  28329.810547  15.054506  7.914061
         2014     US Dollar  29217.554688  29355.759766  15.411675  8.222112
         2015     US Dollar  30091.923828  29150.750000  15.777451  8.530669
         2016     US Dollar  30974.292969  29420.449219  16.150362  8.839398
         2017     US Dollar  32693.474609  30940.816406  16.529903  9.181251

               avh        hc          ccon           cda         cgdpe  ...  \
country  year                                                           ...
Angola   2000  NaN  1.296941  18216.638672  31415.113281  36798.773438  ...
         2001  NaN  1.308486  24569.136719  36884.265625  37047.273438  ...
         2002  NaN  1.320135  25196.832031  38608.304688  42365.441406  ...
         2003  NaN  1.331887  27231.574219  42276.093750  44380.367188  ...
         2004  NaN  1.343743  28367.738281  45809.523438  52764.265625  ...
...            ...       ...           ...           ...           ...  ...
Zimbabwe 2013  NaN  2.504635  30320.339844  33341.156250  28222.046875  ...
         2014  NaN  2.550258  30839.228516  34212.007812  29565.177734  ...
         2015  NaN  2.584653  33771.644531  37220.988281  30368.750000  ...
         2016  NaN  2.616257  32208.060547  35588.394531  31214.966797  ...
         2017  NaN  2.648248  32706.603516  36512.960938  33028.402344  ...

                  csh_x     csh_m     csh_r      pl_c      pl_i      pl_g  \
country  year
Angola   2000  0.591017 -0.083334 -0.401753  0.495396  0.108307  0.491560
         2001  0.441214 -0.179747 -0.252999  0.356054  0.130012  0.569243
         2002  0.448450 -0.143975 -0.197427  0.381241  0.347543  0.341833
         2003  0.454875 -0.183415 -0.185301  0.426085  0.360541  0.419723
         2004  0.499373 -0.214477 -0.091360  0.526507  0.417165  0.345618
...                 ...       ...       ...       ...       ...       ...
Zimbabwe 2013  0.169638 -0.426188  0.090225  0.577488  0.582022  0.448409
         2014  0.141791 -0.340442  0.051500  0.600760  0.557172  0.392895
         2015  0.137558 -0.354298 -0.023353  0.622927  0.580814  0.343926
         2016  0.141248 -0.310446  0.003050  0.640176  0.599462  0.337853
         2017  0.141799 -0.299539  0.019133  0.647136  0.726222  0.340680

                   pl_x      pl_m      pl_n      pl_k
country  year
Angola   2000  0.391757  0.493560  0.111272  0.142730
         2001  0.383245  0.480760  0.133653  0.137680
         2002  0.378768  0.477233  0.356277  0.259471
         2003  0.406862  0.520493  0.354217  0.248303
         2004  0.419821  0.546052  0.394903  0.273516
...                 ...       ...       ...       ...
Zimbabwe 2013  0.723247  0.632360  0.383488  0.704313
         2014  0.724510  0.628352  0.349735  0.704991
         2015  0.654940  0.564430  0.348472  0.713156
         2016  0.657060  0.550084  0.346553  0.718671
         2017  0.645338  0.539529  0.412392  0.755215

[2106 rows x 49 columns]

In [19]:
data.to_excel("pwt_clean.xlsx")